
@import "./customizeSvgicon";
// 最好设置下页面最小宽度，避免页面不断缩小，内容被挤压
#root{
    min-width: 1366px;
}
// 业务样式可以在这里处理
.pagexxx{


}
// 1、顶部导航（自定义样式）
.header{
    .tea-nav__operation .tea-icon-news{
        &::before{
            color:$color-text-anti-primary;
        }
    }
    &-user{
        .tea-dropdown__value{
            max-width: initial;
            display:flex;
            align-items: center;
        }
        &-avatar{

        }
        &-name{
            margin-right: 4px;
            margin-left: 6px;

        }
    }
}


// 样式作用域案例
.customize{
    &-form{
        .tea-input{
            width: 90%;
        }
    }
}
// Card 顶部是一个Tabs切换
.customize-card{
    &__tabs{
        padding:16px 0 0 0;
        & > .tea-tabs__tabbar{
            padding:0 20px
        }
    }
}
