@charset "utf-8";
.customize-svgicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 1;
  fill: currentColor;
  color: #888;
  color: var(--color-text-3);
}

.customize-svgicon > svg {
  width: 100%;
  height: 100%;
}

.customize-svgicon:hover {
  color: #444;
}
