@charset "utf-8";
@mixin cn-variables-theme-cn {
  --prefix: tea-;
  --color-primary-0: #e5f0ff;
  --color-primary-1: #97c7ff;
  --color-primary-2: #8ec8ff;
  --color-primary-3: #50adff;
  --color-primary-4: #0090ff;
  --color-primary-5: #0076ff;
  --color-primary-6: #0061e1;
  --color-primary-7: #0051b9;
  --color-primary-8: #003b80;
  --color-primary-9: #212c53;
  --color-error-0: #fcecec;
  --color-error-1: #f6b5b5;
  --color-error-2: #f2a2a2;
  --color-error-3: #ee8383;
  --color-error-4: #e96464;
  --color-error-5: #e54545;
  --color-error-6: #cc3842;
  --color-error-7: #b42b3f;
  --color-error-8: #b43537;
  --color-error-9: #831238;
  --color-success-0: #e6f8ee;
  --color-success-1: #9ce4bc;
  --color-success-2: #84dfad;
  --color-success-3: #5cd492;
  --color-success-4: #33ca76;
  --color-success-5: #0abf5b;
  --color-success-6: #09a755;
  --color-success-7: #078f50;
  --color-success-8: #007e3b;
  --color-success-9: #055f44;
  --color-warning-0: #fff4e3;
  --color-warning-1: #ffd18b;
  --color-warning-2: #ffce7f;
  --color-warning-3: #ffbe55;
  --color-warning-4: #ffad2a;
  --color-warning-5: #ff9d00;
  --color-warning-6: #df7f00;
  --color-warning-7: #bf6000;
  --color-warning-8: #c07400;
  --color-warning-9: #802400;
  --color-normal: #444;
  --color-label: #888;
  --color-weak: #bbb;
  --color-strong: #000;
  --color-primary: #0076ff;
  --color-success: #0abf5b;
  --color-danger: #e54545;
  --color-warning: #ff9d00;
  --color-error: #e54545;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --border-width: 1px;
  --border-color: #ddd;
  --color-brand: #0076ff;
  --color-text-1: #000;
  --color-text-2: #444;
  --color-text-3: #888;
  --color-text-4: #bbb;
  --font-size-base: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 36px;
  --color-line: #ddd;
  --color-line-1: #ddd;
  --color-line-2: #bbb;
  --color-line-3: #e5e5e5;
  --color-line-4: #888;
  --color-fill-1: #212c53;
  --color-fill-2: #f2f3f5;
  --color-fill-3: #f7f7f7;
  --color-fill-4: #fff;
  --s-base: 4px;
  --s-0: 0px;
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 20px;
  --s-6: 24px;
  --mask-color: rgba(0, 0, 0, 0.6);
  --darken-amount-hover: 5%;
  --darken-amount-active: 10%;
  --shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  --color-neutral-0: #e7eaef;
  --color-neutral-1: #ddd;
  --color-neutral-2: #b7c1ce;
  --color-neutral-3: #9eacbe;
  --color-neutral-4: #8697ad;
  --color-neutral-5: #6e829d;
  --color-neutral-6: #60708a;
  --color-neutral-7: #525e76;
  --color-neutral-8: #444c63;
  --color-neutral-9: #363a50;
  --color-primary-hover: #0061e1;
  --color-primary-focus: #0061e1;
  --color-primary-active: #0090ff;
  --color-primary-disabled: #97c7ff;
  --color-warning-hover: #ffad2a;
  --color-warning-focus: #ffad2a;
  --color-warning-active: #df7f00;
  --color-warning-disabled: #ffd18b;
  --color-error-hover: #e96464;
  --color-error-focus: #e96464;
  --color-error-active: #cc3842;
  --color-error-disabled: #f6b5b5;
  --color-success-hover: #33ca76;
  --color-success-focus: #33ca76;
  --color-success-active: #09a755;
  --color-success-disabled: #9ce4bc;
  --color-bg-fade: rgba(0, 0, 0, 0.9);
  --color-bg: #ffffff;
  --color-bg-hover: #f2f3f5;
  --color-bg-focus: #e7eaef;
  --color-bg-active: #ddd;
  --color-bg-disabled: #f2f3f5;
  --color-bg-second: #f2f3f5;
  --color-bg-second-hover: #dbdfe6;
  --color-bg-gray: #f2f3f5;
  --color-bg-gray-hover: #e7eaef;
  --color-text: #444;
  --color-text-weight: #000;
  --color-text-label: #888;
  --color-text-weak: #bbb;
  --color-text-disabled: #bbb;
  --color-text-anti-primary: #ffffff;
  --color-text-tooltips: #ffffff;
  --color-text-primary: #0076ff;
  --color-text-success: #0abf5b;
  --color-text-error: #e54545;
  --color-text-warning: #ff9d00;
  --color-border: #ddd;
  --color-border-hover: #888;
  --color-border-inner: #e7eaef;
  --color-border-disabled: #bbb;
  --font-size-default: 12px;
  --line-height-default: 1.5;
  --line-height-fz-default: 20px;
  --line-height-fz-l: 22px;
  --line-height-fz-xl: 24px;
  --line-height-fz-xxl: 32px;
  --line-height-fz-xxxl: 52px;
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 14px;
  --font-size-h4: 14px;
  --font-size-h5: 12px;
  --font-size-h6: 12px;
  --box-shadow-s: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  --box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  --border-radius: 0px;
  --space-base: 4px;
  --form-height: 30px;
  --form-placeholder: #bbb;
  --icon-color-default: #888;
  --icon-color-weight: #444;
  --icon-color-primary: #0076ff;
  --icon-color-error: #e54545;
  --icon-color-warning: #ff9d00;
  --icon-color-success: #0abf5b;
  --img-color: light;
}
